@import url('./base.css');

#app {
  max-width: 1280px;
  font-weight: normal;
  width: 600px;
  height: 600px;
  padding: 20px;
}

a,
.green {
  text-decoration: none;
  color: hsl(160deg 100% 37% / 100%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(160deg 100% 37% / 20%);
  }
}
